DATABASE_URL=postgresql+asyncpg://postgres.qxqbersihxvvwevdjrhp:[your-pass]@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres

APP_NAME =WrengWave

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=dev.abir.07@gmail.com
EMAIL_PASS=

ACCESS_SECRET_KEY = your-secret-key-change-this-in-production
ACCESS_TOKEN_EXPIRE_DAYS=3
REFRESH_SECRET_KEY = your-secret-key-change-this-in-production-007tazwarul!?-12332
REFRESH_TOKEN_EXPIRE_DAYS=10
